<td class="number"><%= number %></td>
<td class="branch"><a href="#/<%= job_branch_path %>"><%= branch_display_name %></a></td>
<td class="revision"><%= display_revision %></td>
<td class="status <%= display_result %>"><%= display_result %></td>
<td class="built_at"><%= built_at %></td>
<td class="synced_at"><%= synced_at %></td>
<!-- <td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td> -->