<div id="navbar" class="navbar">
  <div class="container">
    <header class="navigation-header">
      <h3 class="left"><%= link_to 'capitan', root_path %></h3>
    </header>
    <nav class="right">
      <ul class="nav">
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "jobs", jobs_path %></li>

        <% if signed_in? %>
          <li><%= link_to current_user.login, current_user.url %></li>
          <li><%= link_to "logout", opensesame.sign_out_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
