<!DOCTYPE html>
<html>
<head>
  <title>Capitan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <header>
    <h3><%= link_to 'capitan', root_path %></h3>
  </header>
</div>
<%= yield %>

</body>
</html>
